@import url('https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap');

body {
  margin: 0;
  font-family:  'Kelly Slab', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #271628;
  cursor: url('./img/cursor-default.png'), auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

area:hover {
  cursor: url('./img/sword-attack-icon.png'), auto;
}

.GamePage_game-page-container__Pwni8:first-child.progress-container {
    margin-top: 78px!important;
}